html {
    background-color: #eef1f4 !important;
}

#container {
    color: #455566;
}

#left {
	width: 203px;
	float: left;
}

#topLeft {
	width: 198px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#splash {
	width: 198px;
	position: fixed;
	left: 0px;
	top: 500px;
}

#top_fade {
	position: fixed;
	top: 60px;
}

#right {
	width:822px;
	float: left;
}

#header {
	width: 822px;
	padding-top: 30px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 3px solid #bbcfe5;
	background-color: #eef1f4;
	position: fixed;
}

#header h1 {
	font-size: 22px;
	color: #455566;
	display: inline;
}

#header h2 {
	font-size: 16px;
	color: #6a839e;
	display: inline;
}

#sink {
	width: 822px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.pipe {
	float: left;
}

.drop {
	background-color: white;
	font-size: 20px;
	width: 214px;
	padding: 7px;
	border: 3px solid #bbcfe5;
	margin: 40px 20px 10px 20px;
}

.drop img {
	width: 214px;
	padding-bottom: 8px;
}

.drop p {
	margin-top: 0;
	font-style: Futura;
	font-size: 18px;
}

#left {
	width: 200px;
	height: 200px;
	float: left;
}

#right {
	width: 300px;
	height: 200px;
	float: left;
}

#right p {
}

#albumCover {
	width: 200px;
	height: 200px;
}

#films {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#news {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}